@import url('https://fonts.googleapis.com/css2?family=Syne+Mono');

.navBarWrapper {
  width: 100%;
  height: 6rem;
  z-index: 99;
  display: flex;
  color: var(--text-white);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #212830;
  border-bottom: 3px solid #000000;
  /* border-bottom: 3px solid var(--text-black); */
  transition: all 0.2s ease-in-out;
}

.navBarMain {
  display: flex;
  width: 100%;
  max-width: 1600px;
  padding: 0rem 4rem;
  align-items: center;
  justify-content: space-between;
}

.optionsWrapper {
  display: flex;
  align-items: center;
}

.optionsMenu {
  display: flex;
}

.option {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  /* font-family: 'redwinglight', 'Syne Mono', monospace; */
  position: relative;
  border-bottom: #000000;
}

.option a {
  text-decoration: none;
  color: #fafcff;
}

.logoImg {
  width: 200;
  height: 150;
}

.option + .option {
  margin-left: 1.6rem;
}

.activeOption {
  color: var(--primary-gray);
}

.option::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--primary-gray);
  transition: all 0.2s ease-in-out;
}

.option:hover::before {
  width: 100%;
}

/*------------Hamburger Implementations-------------------*/
.hamBurgerWrapper {
  display: none;
  width: 80px;
  height: 52px;
}

.hamburger {
  position: absolute;
  width: 80px;
  cursor: pointer;
}

.spans {
  display: block;
  width: 100%;

  border-radius: 3px;
  height: 8px;
  background: #000000;
  transition: all 0.3s;
  position: relative;
}

.spans + .spans {
  margin-top: 14px;
}

.active .spans {
  background-color: #000000;
}

.active .spans:nth-child(1) {
  animation: ease 0.7s topBar forwards;
}

.not-active .spans:nth-child(1) {
  animation: ease 0.7s topBarRotate forwards;
}

.active .spans:nth-child(2) {
  animation: ease 0.7s middleBar forwards;
}

.not-active .spans:nth-child(2) {
  animation: ease 0.7s middleBarScale forwards;
}

.active .spans:nth-child(3) {
  animation: ease 0.7s bottomBar forwards;
}

.not-active .spans:nth-child(3) {
  animation: ease 0.7s bottomBarRotate forwards;
}

@keyframes topBar {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 22px;
    transform: rotate(0);
  }

  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes topBarRotate {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }

  50% {
    top: 22px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottomBar {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

/*----------Hamburger CSS End--------------*/

@keyframes bottomBarRotate {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 22px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes middleBar {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes middleBarScale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .navBarWrapper {
    height: 5rem;
  }
  .navBarMain {
    padding: 0 0.5rem;
  }

  .hamBurgerWrapper {
    display: block;
    transform: scale(0.7);
  }

  .optionsMenu {
    display: block;
    position: fixed;
    background-color: #212830;
    top: 0;
    right: -150%;
    color: #000000;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    padding-top: 10rem;
    padding-right: 2rem;
    transition: all 0.7s ease-in-out;
    border-left: 4px solid #000000;
  }

  .option {
    text-align: right;
    font-size: 2rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
  }

  .option::before {
    background-color: #000000;
  }

  .option + .option {
    margin-top: 1rem;
  }

  .activeSidebar {
    right: 0;
  }
}
