@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.RegWrapper {
  position: relative;
  background-color: var(--primary-light-pastel-gray);
  overflow-x: hidden;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-image: url(/Events/micro_carbon.png);
  min-height: 70vh;
}

@media (max-width: 768px) {
  .RegWrapper {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}

.tabGroup > div > div {
  padding: 0;
  margin: 0;
}
.tabGroup > div > button {
  color: black;
  font-size: 1rem;
  font-family: 'Recursive', sans-serif;
  font-weight: bold;
  padding-top: 1rem;
}

.tabGroup > div > button[aria-selected='true'] {
  color: black;
  background-color: white;
  box-shadow: 4px 4px 0 0 black;
  /* border: solid 2px black; */
}

.tabGroup > div > button[aria-selected='false'] {
  background-color: transparent;
  color: rgb(178, 176, 176);
}

.tabGroup > div > button:focus[aria-selected='false'] {
  box-shadow: none;
}

.tabGroup > div > button:hover[aria-selected='false'] {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 250, 250);
}

.customModal {
  margin: auto;
  width: 530px;
  max-width: 93%;
  height: fit-content;
  /* max-height: 500px; */
  background: #e1e1e1;
  background-color: rgb(46, 46, 46);
  top: -1%;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 1% 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 4);
  text-align: center;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  z-index: 101;
}