.blocksWrapper {
  position: relative;
  overflow-x: hidden;
  padding-top: 6rem;
  min-height: 60vh;
}

.blocksMain {
  position: relative;
  padding: 4rem 0;
}

.blocksHeading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.text_block {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 30px;
  background-color: var(--even-softer-gray);
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 black;
  line-height: 1;
  max-width: 100%;
}

/* add button */
.addButton {
  color: white;
  background-color: #212830;
  border-radius: 4px;
  margin: 3px;
  padding: 4px;
  margin: 2px auto;
  cursor: pointer;
  transition: 0.3s;
  font-size: large;
  width: fit-content;
  box-shadow: 2px 2px 0 0 black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.addButton:hover {
  color: white;
  background: black;
  box-shadow: 2px 2px 0 0 white;
}

/* styles for add popup */
.blockModal {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  margin: auto;
  width: 70%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  background-color: rgb(46, 46, 46);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 2% 4%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 4);
  text-align: center;
  color: white;
  border-radius: 10px;
}
.blockModal > h2 {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

.blockModal > input,
.blockModal > select,
.blockModal > textarea {
  width: 80%;
  resize: vertical;
  padding: 1vh;
  border-radius: 5px;
  border: 0;
  margin: 1vh;
  background-color: rgb(0, 0, 0);
}
.blockModal > textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 350px;
}

.blockModal > button {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-size: large;
  width: 10%;
  min-width: fit-content;
  margin: 2% 1%;
  justify-content: center;
}
.blockModal > button:hover {
  color: black;
  background: white;
  box-shadow: 3px 3px 0 0 black;
}

.errorBox {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  font-size: larger;
}

@media (max-width: 768px) {
  .blockModal,
  .errorBox {
    width: 95%;
    font-size: smaller;
    padding: 1px 0px;
  }
}
