@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.formWrapper {
  position: relative;
  max-width: 530px;
  margin: 0 auto;
  background-color: var(--text-white);
  padding: 3rem 3rem 3rem;
  border-radius: 24px;
  border: 2px solid var(--text-black);
  line-height: 1.5rem;
  font-family: 'Recursive', cursive;
  box-shadow: 5px 5px 0 0 black;
}

.formHeading {
  background-color: var(--even-softer-gray);
  font-family: 'Recursive', sans-serif;
}

.FormHeading {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.text_block {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 30px;
  background-color: var(--even-softer-gray);
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 black;
  line-height: 1;
  max-width: 100%;
}

@media (max-width: 768px) {
  .formWrapper {
    padding: 1.5rem 1.5rem 1.5rem;
    box-shadow: 5px 5px 0 0 #000000;
  }
}
