.projectWrapper {
  background-color: var(--primary-light-pastel-gray);
  background-image: url(/Events/micro_carbon.png);
  background-attachment: fixed;
}

/* @media (max-width: 768px) {
  .projectWrapper {
  }
} */
