@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* They were originally events card but we have to reuse them 
for projects and events so we converted them to block */

.blockCardWrapper {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--even-softer-gray);
  padding: 3rem 3rem 3rem;
  border-radius: 20px;
  border: 2px solid var(--text-black);
  box-shadow: 6px 6px 0 0 black;
  line-height: 1.5rem;
}

.blockCardWrapper + .blockCardWrapper {
  margin-top: 6rem;
}

.blockCardMain {
  display: grid;
  min-height: 350px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'info image';
}

.blockInfo {
  grid-area: info;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

.blockInfoLeft {
  grid-area: image;
}

.blockImageWrapper {
  grid-area: image;
  display: flex;
  box-sizing: border-box;
  padding-left: 3rem;
  justify-content: flex-end;
  align-items: center;
}

.blockImageWrapperLeft {
  grid-area: info;
  padding-left: 0;
  padding-right: 3rem;
}

.blockNumber {
  padding: 2rem 0;
  position: relative;
  z-index: 5;
}

.blockNumber h1 {
  font-size: 4rem;
  font-family: 'Inconsolata', monospace;
}

.blockName {
  margin: 1rem 0;
  font-family: 'Inconsolata', monospace;
}

.blockName h1 {
  font-weight: 600;
  font-size: 2rem;
}

.blockName h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

.knowMore {
  position: absolute;
  bottom: 0;
}

.knowMore a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-gray);
}

.styleDiv {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
  background-color: var(--primary-gray);
  width: 60px;
  height: 30px;
}

.buttonImage {
  position: relative;
  width: 18px;
  height: 18px;
}

.blockImageCard {
  position: relative;
  background-color: var(--primary-gray);
  border: 2px solid var(--text-black);
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .blockCardWrapper {
    padding: 1.5rem 1.5rem 1.5rem;
  }

  .blockCardMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'image' 'info';
  }

  .blockInfoLeft {
    grid-area: info;
  }

  .blockImageWrapper {
    padding-left: 0;
  }

  .blockImageWrapperLeft {
    grid-area: image;
    padding-right: 0;
  }
}
.blockCardModal {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  margin: auto;
  width: 60%;
  height: 70%;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  background-color: rgb(46, 46, 46);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 4);
  text-align: center;
  color: white;
}
.blockCardModal > h2 {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.blockCardModal > input,
.blockCardModal > select {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  background-color: rgb(0, 0, 0);
}

.blockCardModal > button {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 4px;
  margin: 2px auto;
  cursor: pointer;
  transition: 0.3s;
  font-size: large;
  width: 125px;
  margin: 30px 10px;
  justify-content: center;
}
.blockCardModal > button:hover {
  color: black;
  background: white;
  box-shadow: 3px 3px 0 0 black;
}

/* Blockcard button (edit, delete) css here*/
.adminButtons > button {
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  margin: 5px;
  width: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.adminButtons > button:hover {
  color: black;
  background: white;
  box-shadow: 2px 2px 0 0 black;
}

/* error box */
.blockCardModal > h4 {
  height: 20px;
  color: #ed3636;
  transition: all;
}
