@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Inconsolata&family=VT323");

.heroWrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh + 6rem);
  overflow-x: hidden;
  color: var(--text-black);
  background-color: var(--primary-light-pastel-gray);
  /* background-size: cover; */
  background-color: #dbdbd0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238F8F88' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23000000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* background-image: url('/Hero/bg_img.jpg'); */
  /* background-image:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='387' height='387' viewBox='0 0 800 800'><rect fill='#DBDBD0' width='800' height='800'/><g fill='none' stroke='#8F8F88'  stroke-width='1'><path d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/><path d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/><path d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/><path d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/><path d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/></g><g  fill='#000000'><circle  cx='769' cy='229' r='11'/><circle  cx='539' cy='269' r='11'/><circle  cx='603' cy='493' r='11'/><circle  cx='731' cy='737' r='11'/><circle  cx='520' cy='660' r='11'/><circle  cx='309' cy='538' r='11'/><circle  cx='295' cy='764' r='11'/><circle  cx='40' cy='599' r='11'/><circle  cx='102' cy='382' r='11'/><circle  cx='127' cy='80' r='11'/><circle  cx='370' cy='105' r='11'/><circle  cx='578' cy='42' r='11'/><circle  cx='237' cy='261' r='11'/><circle  cx='390' cy='382' r='11'/></g></svg>"); */
}

.hero {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
  font-family: var(--font-fancy);
}

.heroContentWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
}

.heroMain {
  width: 100%;
  max-width: 600px;
  padding-right: 2rem;
}

.heroMain h1 {
  font-size: 4rem;
  font-family: Roboto;
}

.heroQuoteWrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.Quote {
  font-size: 1.5rem;
}

.styleBar {
  height: 2px;
  width: 80px;
  background-color: var(--primary-gray);
  margin: 0 8px;
}

.heroArtWrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

/*------------------Overview Section --------------------*/
.aboutWrapper {
  position: relative;
  background-color: var(--primary-gray);
  padding: 8rem 0;
}

.aboutWheelWrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  right: 20px;
}

.aboutMain {
  position: relative;
  z-index: 20;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--text-white);
  padding: 2rem 2rem 4rem;
  border-radius: 24px;
  border: 2px solid var(--text-black);
  box-shadow: 6px 6px 0 0 var(--text-black);
}

.aboutStyleStar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -40px;
}

.aboutTitle {
  margin: 1rem 0;
  text-align: center;
  font-family: Roboto;
}

.aboutContent {
  line-height: 1.25rem;
  font-family: VT323;
}

.aboutBgWrapper {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
}

@media (max-width: 900px) {
  .hero {
    position: relative;
    height: 100%;
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1100px;
  }

  .styleBar {
    width: 50px;
  }

  .heroArtWrapper {
    width: 400px;
    height: 400px;
  }

  .Quote {
    font-size: 1rem;
  }

  .heroMain h1 {
    font-size: 3rem;
    font-family: Inconsolata;
  }

  .heroArtWrapper {
    width: 100%;
    max-height: 400px;
  }
  .aboutWheelWrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -100px;
    right: -50px;
  }
}

@media (max-width: 540px) {
  .heroContentWrapper {
    display: block;
    font-family: Inconsolata;
  }

  .heroArtWrapper {
    position: relative;
    width: 100%;
    height: 300px;
  }
}
