@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  /*-------Define Global Colors----------------*/
  /*-------Text Colors-------------------------*/
  --text-black: rgb(12, 29, 57);
  --text-white: rgb(255, 255, 255);
  --text-gray: rgb(115, 131, 156);
  /*-------Major Component Colors-----------*/
  --primary-purple: rgb(144, 19, 254);
  /* --primary-gray: rgb(201, 209, 222); */
  --primary-dark-blue: rgb(12, 29, 57);
  --light-purple: rgba(195, 201, 252, 255);
  --medium-purple: rgb(220, 196, 252);
  --light-green: rgb(220, 238, 227);
  --primary-yellow: rgb(255, 245, 109);
  --medium-yellow: rgb(255, 211, 110);
  --light-teal: rgb(153, 255, 205);
  --medium-blue: rgb(159, 180, 255);
  --primary-violet: rgb(112, 100, 252);
  --primary-gray: #8f8f88;
  --primary-light-pastel-gray: #dbdbd0;
  --secondry-dark-gray: #5a5a5a;
  --trial-blue: #1a354c;

  /*---------Fonts--------------------*/
  --font-fancy: 'Inconsolata', monospace;
  --font-regular: 'Inconsolata', monospace;
}

body {
  font-family: var(--font-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-wrapper {
  position: relative;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.vertical-timeline-element-content {
  border: 3px solid var(--text-black) !important;
  /* box-shadow: 6px 6px 0 0 var(--text-black) !important; */
  box-shadow: none !important;
}

.vertical-timeline-element-content:nth-of-type(2n) {
  box-shadow: 6px 6px 0 0 var(--text-black) !important;
}

.vertical-timeline-element-content-arrow {
  /* border: 7px solid var(--text-black) !important; */
  border-right: 10px solid var(--text-black) !important;
}

.vertical-timeline::before {
  background-color: var(--text-black) !important;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px var(--text-black), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05) !important;
}

@media (max-width: 900px) {
  .page-wrapper {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1100px;
  }
}

@font-face {
  font-family: 'redwinglight';
  src: url('/Font/redwing-light-webfont.woff2') format('woff2'),
    url('/Font/redwing-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
