.loadingWrapper {
  background-color: var(--primary-light-pastel-gray);
  background-image: url(/Events/micro_carbon.png);
}

.membersWrapper {
  padding-top: 6rem;
  background-color: var(--primary-light-pastel-gray);
  background-image: url(/Events/micro_carbon.png);
  padding-bottom: 3rem;
  min-height: 100vh;
}
