.loginWrapper {
  font-size: 20px;
  color: white;
  background-color: black;
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-rows: 30vh 10vh auto;
}

.loginWrapper > p {
  display: block;
  text-align: center;
}

.loginWrapper > button {
  transition-duration: 0.4s;
  background-color: #4caf50;
  padding: 15px 32px;
}

.loginWrapper > button:hover {
  background-color: #092a0a;
}
