.MemberWrapper {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.MemberHeader {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 30px;
  background-color: var(--soft-gray);
  /* background-color: white; */
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 black;
  line-height: 1;
  max-width: 100%;
}

.teamContainer {
  position: relative;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 50px;
}

.teamContainer h2 {
  font-size: 30px;
  text-align: center;
}

/*------------------ Cards --------------------*/
.teamCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamCardContainer {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.teamCard {
  background-color: var(--soft-gray);
  position: relative;
  width: 225px;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 6px 6px 0 0 black;
  line-height: 1;
  max-width: 100%;
  padding: 10px;
}

.memberImage {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 15px;
}

.memberInfo h3 {
  padding: 10px 10px 2px;
  text-align: center;
}

.memberInfo h4 {
  padding: 3px 10px 10px;
  text-align: center;
}

/*------------------ Links --------------------*/
.memberLinks {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.linkImageWrapper {
  border: 2px solid black;
  padding: 4px;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.linkImageWrapper:hover {
  transform: translate(-5px, -5px);
  box-shadow: 2px 2px #000;
}

.email:hover {
  background-color: #bb001b;
}

.linkedin:hover {
  background-color: #0072b1;
}

.instagram:hover {
  background-color: #d62976;
}
